#Course: Slides
Syllabus: Syllabus
Programs in Erlang: Eval/2008/Exercises
Programs in Java: Eval/2010/Exercises Eval/2010/Exercises/Java
Homework on Red-Black Trees: Eval/2008/Exercises/Red-Black
Examinations Master Course 2010: Eval/2010/Master/Mid Eval/2010/Master/Final
Examinations 2009: Eval/2009/Mid Eval/2009/Final
Examinations 2008: Eval/2008/Test1 Eval/2008/Mid/Answers
Examinations 2007: Eval/2007/Quiz Eval/2007/Mid/Answers Eval/2007/Final/Answers
