Syllabus: Syllabus
#Course: Slides
Exercises: Eval/2008/Exercises Eval/2008/Exercises/Length Eval/2008/Exercises/SeqSum Eval/2008/Exercises/Last Eval/2008/Exercises/Penult Eval/2008/Exercises/Reversing Eval/2008/Exercises/CSV Eval/2008/Exercises/Shuffling Eval/2008/Exercises/Maximum Eval/2008/Exercises/Squeeze Eval/2008/Exercises/Merging Eval/2008/Exercises/TreeCount Eval/2008/Exercises/TreeSum Eval/2008/Exercises/TreeRev Eval/2008/Exercises/Height Eval/2008/Exercises/TreeNum Eval/2008/Exercises/MathML Eval/2008/Exercises/TreeMerge
Examinations 2009: Eval/2009/Mid
Examinations 2008: Eval/2008/Mid/Questions
Examinations 2007: Eval/2007/Mid/Questions Eval/2007/Final/Questions
Examinations 2006: Eval/2006/Mid/Answers Eval/2006/Final/Answers
